<ion-header>
  <ion-row>
    <ion-col width-50><span primary>Tuloskortti</span></ion-col>
    <ion-col width-50 text-right><a (click)="close()"><ion-icon name="close"></ion-icon></a></ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content text-center>

      <section *ngIf="frontNine.length > 0">
        <ion-row light>
          <ion-col *ngFor="let hole of frontNine; let i = index" width-10>{{i+1}}</ion-col>
          <ion-col width-10 class="border-left"><span>Out</span></ion-col>
        </ion-row>

        <ion-row>
          <ion-col *ngFor="let hole of frontNine; let i = index" width-10>{{holeService.getParAt(i)}}</ion-col>
          <ion-col width-10 class="border-left"><span>{{holeService.getFrontNinePar()}}</span></ion-col>
        </ion-row>

        <ion-row primary class="border-bottom">
          <ion-col width-10 *ngFor="let hole of frontNine; let i = index"><span class="score-mark {{getClassName(i)}}">{{holeService.getResultAt(i).strokes.value}}</span></ion-col>
          <ion-col width-10 class="border-left"><span>{{player.frontNine}}</span></ion-col>
        </ion-row>
      </section>

      <section *ngIf="backNine.length > 0">
        <ion-row light>
          <ion-col *ngFor="let hole of backNine; let i = index" width-10><span>{{i+10}}</span></ion-col>
          <ion-col width-10 class="border-left"><span>In</span></ion-col>
        </ion-row>

        <ion-row>
          <ion-col *ngFor="let hole of backNine; let i = index" width-10><span>{{holeService.getParAt(i+9)}}</span></ion-col>
          <ion-col width-10 class="border-left"><span>{{holeService.getFrontNinePar()}}</span></ion-col>
        </ion-row>

        <ion-row primary class="padding-bottom">
          <ion-col *ngFor="let hole of backNine; let i = index" width-10><span class="score-mark {{getClassName(i+9)}}"> {{holeService.getResultAt(i+9).strokes.value}}</span></ion-col>
          <ion-col width-10 class="border-left"><span class="score-mark">{{player.backNine}}</span></ion-col>
        </ion-row>
      </section>

    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer text-center>
  <ion-row>
    <ion-col> <button (click)="close()">Sulje</button></ion-col>
  </ion-row>
</ion-footer>
