// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/hello-ionic/hello-ionic";
@import "../pages/information/information-page";
@import "../pages/item-details/item-details";
@import "../pages/achievements/achievements-page";

@import "../pages/pages";
@import "../pages/layout";
@import "../pages/texts";
@import "../pages/buttons";

@import "../components/directives/stroke-input/stroke-input.component";
@import "../components/directives/hole/hole.component";
@import "../components/directives/gestures/pan";

@import "../icons/ionicons";

@import "../pages/player-tabs/single-player-tab/single-player-tab";


scroll-content {
  overflow-y: auto;
}

ion-page {
  background: color($colors, background);
}

.ion-no-result {
  width: auto;
  height: 20px;
}

// medal icons

.ion-ribbon-no-result::before {
  content: url('../../img/ribbons/no-result.png') !important;
}
.ion-ribbon-par::before {
  content: url('../../img/ribbons/par.png') !important;
}
.ion-ribbon-birdie::before {
  content: url('../../img/ribbons/birdie.png') !important;
}

// ribbon icons

.ion-medal-eagle::before {
  content: url('../../img/medals/eagle.png') !important;
}

.ion-medal-ten-rounds::before {
  content: url('../../img/medals/ten-rounds.png') !important;
}

.ion-medal-twenty-rounds::before {
  content: url('../../img/medals/twenty-rounds.png') !important;
}

.ion-medal-fifty-rounds::before {
  content: url('../../img/medals/fifty-rounds.png') !important;
}

.ion-medal-hundred-rounds::before {
  content: url('../../img/medals/hundred-rounds.png') !important;
}


// tabbar {
//   background: color($colors, dark);
// }
//
// .toggle-inner {
//   background-color: color($colors, light);
// }
