// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/hello-ionic/hello-ionic";
@import "../pages/information/information-page";
@import "../pages/item-details/item-details";
@import "../pages/achievements/achievements-page";
@import "../pages/pages";

@import "../components/directives/stroke-input/stroke-input.component";
@import "../components/directives/hole/hole.component";
@import "../components/directives/gestures/pan";

@import "../icons/ionicons";

@import "../pages/player-tabs/single-player-tab/single-player-tab";


scroll-content {
  overflow-y: auto;
}

.ion-no-result {
  width: auto;
  height: 20px;
}

.ion-ribbon-no-result::before {
  content: url('../../img/no-result.png') !important;
}
.ion-ribbon-par::before {
  content: url('../../img/par.png') !important;
}
.ion-ribbon-birdie::before {
  content: url('../../img/birdie.png') !important;
}

// tabbar {
//   background: color($colors, dark);
// }
//
// .toggle-inner {
//   background-color: color($colors, light);
// }
