@import 'globals.core';

.top {
  align-items: inherit;
}

.swiper-slide {
  overflow-y: auto;
}

.item {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.menu-bar {
  color: color($colors, primary);
  font-size: color($fonts, avarage);
}

.toolbar-background {
  background: color($colors, dark);
}

scroll-content {
  overflow-y: hidden;
}

ion-slide {
  width: 100%;
}

.no-background {
  background: none;
}

.font-big {
  font-size: map-get($fonts, 'big');
}

.font-avarage {
  font-size: map-get($fonts, 'avarage');
}

.multiplayers {
  height: 75px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;

  ion-col {
    position: relative;
  }
  .player {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
  }
}
