
<ion-header>
  <ion-row>
    <ion-col width-33><ion-icon class="flag" name="flag"><span>{{getHole()}}</span></ion-icon>  </ion-col>
    <!-- <ion-col width-33><span>Väylä {{getHole()}}</span> </ion-col> -->
    <ion-col text-center width-33><span >Par {{getPar()}}</span></ion-col>
    <ion-col width-33 text-right><button class="trophy-button" (click)="showAchievements()"><ion-icon name="trophy"></ion-icon></button> </ion-col>
  </ion-row>

</ion-header>

<ion-content>

    <ion-row class="custom-tabs">
      <a (click)="holeService.getResult().multiplayerTab = false" class="tab-button has-icon icon-only disable-hover border-right" role="tab" id="tab-0-0" aria-controls="tabpanel-0-0" [attr.aria-selected]="!holeService.getResult().multiplayerTab">
        <ion-icon class="tab-button-icon ion-md-person" role="img" aria-label="person"></ion-icon><ion-button-effect></ion-button-effect>
      </a>

      <a (click)="holeService.getResult().multiplayerTab = true" class="tab-button has-icon icon-only disable-hover multiplayer" role="tab" id="tab-0-1" aria-controls="tabpanel-0-1"  [attr.aria-selected]="holeService.getResult().multiplayerTab">
        <ion-icon class="tab-button-icon ion-md-people" role="img" aria-label="people"></ion-icon>
      </a>
    </ion-row>

    <div [ngClass]="{'multiplayer': holeService.getResult().multiplayerTab}" class="tab-highlight tab-active animate"></div>
    <div [ngClass]="{'multiplayer': holeService.getResult().multiplayerTab}" class="tab-highlight tab-inactive animate"></div>


   <div class="carousel-wrap" pan>

     <hole holeChange="holeChangeEvent" id="floating-content-0"></hole>
     <hole holeChange="holeChangeEvent" id="floating-content-1"></hole>
     <hole id="floating-content-2"></hole>

   </div>

</ion-content>

<ion-footer>
    <ion-row>
      <ion-col col-33><button *ngIf="holeService.getIndex() > 0" clear (click)="previous()"> <ion-icon name="arrow-back"> </ion-icon> </button> </ion-col>
      <ion-col col-33><button (click)="endRound()" *ngIf="holeService.getIndex() === holeService.getHoles().length-1">Näytä tulos</button></ion-col>
      <ion-col col-33 class="text-right"><button *ngIf="holeService.getIndex() < holeService.getHoles().length-1" clear (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button></ion-col>
    </ion-row>
</ion-footer>
