.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-top: 16px;
}

.margin-vertical {
    margin: 16px 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.disabled {
  opacity: 0.3;
}

.no-background {
  background: none !important;
}

.border-bottom {
  border-bottom: 1px solid color($colors, extra-light);
}
.border-top {
  border-top: 1px solid color($colors, extra-light);;
}
.border-left {
  border-left: 1px solid color($colors, extra-light);;
}
.border-right {
  border-right: 1px solid color($colors, extra-light);;
}
