.golf-bottom-bar {
  position: absolute;
  bottom: 0;
  height: 55px;
  box-shadow: 0px 22px 64px 10px #656565;
}

.menu-bar {
  height: 55px;
  color: color($colors, primary);
  font-size: color($fonts, avarage);
  box-shadow: 0px 10px 40px -10px #656565;
}

.toolbar-background {
  background: color($colors, dark);
}
