<ion-toolbar class="trophy-bar">
  <ion-row border-bottom>
    <ion-col width-50><div><h2 primary class="bar-height">Saavutukset!</h2></div></ion-col>
    <ion-col width-50 text-right><a (click)="close()"><ion-icon class="font-big bar-height" name="close"></ion-icon></a></ion-col>
  </ion-row>
</ion-toolbar>

<ion-content class="margin-top">

  <ion-cards *ngIf="tab === 0">

  <ion-card>
    <ion-row center>
      <ion-col width-33><ion-icon class="{{getLevel().icon}}" role="img" aria-label="level"></ion-icon></ion-col>
      <ion-col width-50>
        <ion-row><h1>Level {{experience.level}}</h1>
        </ion-row>
        <ion-row center>
          <ion-col width-80>
            <div class="progress-bar">
              <div class="animate progress" [ngStyle]="{'width': width+'%'}"></div>
            </div>
          </ion-col>
          <ion-col width-20>
            <span class="primary">{{experience.level+1}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row class="user-experience margin-vertical">
    <span class="info">Kyntäjä</span>
  </ion-row>

</ion-cards>


  <ion-cards *ngIf="tab === 1">

  <ion-card *ngFor="let ribbon of trophyService.getRibbons()">
    <ion-row center [ngClass]="{'disabled': !isDiscovered(ribbon)}">
      <ion-col width-30><ion-icon class="{{ribbon.icon}}" role="img" aria-label="{{ribbon.icon}}"></ion-icon></ion-col>
      <ion-col width-50> {{ribbon.label}}</ion-col>
      <ion-col width-20 class="text-right"><span class="primary ribbon-count" [ngClass]="{'big':isBig(ribbon), 'avarage': (!isBig(ribbon))}">{{ribbon.amount}}</span></ion-col>
    </ion-row>
  </ion-card>
</ion-cards>

<ion-cards *ngIf="tab === 2">

<ion-card *ngFor="let medal of trophyService.getMedals()">
  <ion-row center [ngClass]="{'disabled': !isDiscovered(medal)}">
    <ion-col width-30><ion-icon class="{{medal.icon}}" role="img" aria-label="no-result"></ion-icon></ion-col>
    <ion-col width-50> {{medal.label}}</ion-col>
    <ion-col width-20 class="text-right"><ion-icon class="font-big primary" name="{{hasMedal(medal)}}"></ion-icon></ion-col>
  </ion-row>
</ion-card>
</ion-cards>

</ion-content>

<ion-toolbar position="bottom" extra-light>
  <ion-row text-center>

    <ion-col width-33>
      <a (click)="activeTab(tabs.Xp)" class="tab-button has-icon icon-only disable-hover" role="tab" id="tab-0-0" aria-controls="tabpanel-0-0" [attr.aria-selected]="tab === 0">
        <ion-icon class="tab-button-icon ion-md-star-half" role="img" aria-label="person"></ion-icon>
        <ion-button-effect></ion-button-effect>
      </a>
    </ion-col>

    <ion-col width-33>
      <a (click)="activeTab(tabs.Medal)" class="tab-button has-icon icon-only disable-hover" role="tab" id="tab-0-0" aria-controls="tabpanel-0-0" [attr.aria-selected]="tab === 1">
        <ion-icon class="tab-button-icon ion-md-medal" role="img" aria-label="person"></ion-icon>
        <ion-button-effect></ion-button-effect>
      </a>
    </ion-col>

    <ion-col width-33>
      <a (click)="activeTab(tabs.Trophy)" class="tab-button has-icon icon-only disable-hover" role="tab" id="tab-0-0" aria-controls="tabpanel-0-0" [attr.aria-selected]="tab === 2">
        <ion-icon class="tab-button-icon ion-md-trophy" role="img" aria-label="person"></ion-icon>
        <ion-button-effect></ion-button-effect>
      </a>
    </ion-col>

  </ion-row>
</ion-toolbar>
