.trophy-bar {
  height: 55px;
  .bar-height {
    line-height: 2;
  }
}

.user-experience {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 40px;

  .info {
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
  }
}

.progress-bar {
    height: 10px;
    background: color($colors, extra-light);

    .progress {
      height: 10px;
      background: color($colors, primary);
    }
}
