<ion-toolbar class="menu-bar" position="top">

  <ion-row class="stroke-input">
    <ion-col width-33>Väylä {{currentIndex+1}}</ion-col>
    <ion-col class="text-center" width-33>Par {{holes[currentIndex].par}}</ion-col>
  </ion-row>
</ion-toolbar>

<ion-content class="content">
   <ion-slides (didChange)="onSlideChanged()" slider="slider" [options]="options">

     <ion-slide class="top" *ngFor="let hole of availableHoles; let i = index">

      <ion-item>
        <ion-label>Pallo taskuun</ion-label>
        <ion-toggle [(ngModel)]="results[i].players[playerIndex].noResult"></ion-toggle>
      </ion-item>

        <section *ngIf="!results[i].players[playerIndex].noResult">
          <stroke-input primary="true" label="Lyönnit" (totalChange)="onChange($event)" [total]="results[i].players[playerIndex].strokes"> </stroke-input>
          <stroke-input label="Putit" (totalChange)="onChange($event)" [total]="results[i].players[playerIndex].putts"> </stroke-input>
          <stroke-input label="Hiekkalyönnit" (totalChange)="onChange($event)" [total]="results[i].players[playerIndex].sands"> </stroke-input>
          <stroke-input label="Rangaistukset" (totalChange)="onChange($event)" [total]="results[i].players[playerIndex].penalties"> </stroke-input>
        </section>

     </ion-slide>

   </ion-slides>

</ion-content>

<ion-toolbar class="menu-bar" position="bottom">
  <ion-row class="stroke-input">
    <ion-col col-33><button *ngIf="!isFirstHole" clear (click)="previous()"> <i> < </i> </button> </ion-col>
    <ion-col col-33><button *ngIf="isLastHole">Lopeta kierros</button></ion-col>
    <ion-col col-33 class="text-right"><button *ngIf="!isLastHole" clear (click)="next()" ><i>></i></button></ion-col>
  </ion-row>
</ion-toolbar>
