.rounded {
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 50%;
  width: 47px;
  /* height: 50px; */
  padding: 10px;
  background: beige;
  margin:auto;
}


.relative {
  position: relative;
}

.absolute {
  position: absolute;

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  &.bottom {
    bottom: 0;
  }
}
